.background {
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    background: #222;
    border-radius: 10px;
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.8);
}

.background:hover {
    background: #666;
    cursor: pointer;
}

.text {
    left: 10px;
    top: 10px;
    width: 250px;
    height: 200px;
    font-size: 24px;
    color: lightgray;
}